.button_1 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    width: 100%;
}
.require{
    height:20px;
    color:#FF0000;
    padding-left:5px;
    padding-right:5px;
    font-size:12px;
    line-height:15px;
    width:100px;
    float:none;
}
