.aa{
    border-bottom : 2px solid; 
}

.blur{
    -webkit-filter: blur(4px);
    filter: blur(4px);
}

.highlight{
    background-color: red;
}

tr.selected {
    background-color: #83C4F6
}

.table-condensed tr:last-child{
  border-bottom: #dddddd solid 1px;
}




/* #page-wrapper{
    background: linear-gradient(270deg, #dbdbdb, #c0e4e3, #bcdeea);
    background-size: 600% 600%;
    
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
} */